version: 2.1

orbs:
  node: circleci/node@5.2

jobs:
  test:
    executor:
      name: node/default
      tag: '16.10'
    steps:
      - checkout
      - node/install-packages
      - run:
          name: Run tests with --passWithNoTests
          command: npm test -- --passWithNoTests

workflows:
  sample:
    jobs:
      - test
