version: 2.1

orbs:
  node: circleci/node@5.2
  docker: circleci/docker@2.4.0

jobs:
  test:
    executor:
      name: node/default
      tag: '16.10'
    steps:
      - checkout
      - node/install-packages
      - run:
          name: Run tests with --passWithNoTests
          command: npm test -- --passWithNoTests

  build-and-push:
    environment:
      DOCKER_IMAGE: raynguyen86/rayrepo
      DOCKER_TAG: latest
    executor: docker/docker
    steps:
      - setup_remote_docker
      - checkout
      - docker/check:
          docker-username: DOCKER_USER
          docker-password: DOCKER_PASSWORD
      - docker/build:
          image: $DOCKER_IMAGE
          tag: $DOCKER_TAG
      - docker/push:
          digest-path: /tmp/digest.txt
          image: $DOCKER_IMAGE
          tag: $DOCKER_TAG
      - run:
          command: |
            echo "Digest is: $(</tmp/digest.txt)"

  deploy-to-k8s:
    docker:
      - image: cimg/base:stable
    steps:
      - add_ssh_keys:
          fingerprints:
            - "SHA256:CyJIjBVij72cnyQEYS6EpMyoX/K4K8o0iFVMFDBJg8A"
      - run:
          name: Deploy to k8s
          command: |
            ssh -o StrictHostKeyChecking=no nguyenxuantai1986@$VM_HOST \<< 'EOF'
              docker pull raynguyen86/rayrepo:latest
              docker stop myapp || true
              docker rm myapp || true
              docker run -d --name myapp -p 80:3000 raynguyen86/rayrepo:latest
            EOF

workflows:
  mypipeline:
    jobs:
      - test
      - build-and-push:
          requires:
            - test
          filters:
            branches:
              only:
                - main
      - deploy-to-k8s:
          requires:
            - build-and-push
